
.quiz-container{
  max-width:700px;
  margin: 90px auto;
  background: var(--glass);
  padding:24px;
  border-radius:18px;
  backdrop-filter: blur(14px);
  box-shadow: 0 8px 30px rgba(11,8,30,0.18);
  text-align:center;
}

#quiz-img{
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-radius:12px;
  margin-bottom:18px;
}

.answers{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:16px;
}

.answer-btn{
  padding:14px;
  border-radius:12px;
  border:none;
  font-weight:bold;
  cursor:pointer;
  background: var(--accent);
  color:#fff;
  transition: transform 0.2s, box-shadow 0.2s;
}

.answer-btn:hover{
  transform: translateY(-3px);
  box-shadow: 0 8px 18px rgba(43,195,255,0.35);
}

#back-btn {
     padding:10px;
    margin: 10px;
  border-radius:12px;
  border:none;
  font-weight:bold;
  cursor:pointer;
  background: red;
  color:#fff;
  transition: transform 0.2s, box-shadow 0.2s;
}

#back-btn:hover{
  transform: translateY(-3px);
  box-shadow: 0 8px 18px rgba(255, 43, 43, 0.35);
}

.quiz-info{
  font-size:1.1rem;
  margin-bottom:12px;
  color: var(--accent);
}
.quiz-image {
  max-width: 100%;
  height: auto;
}
